* {
    padding: 0;
    margin: 0;
}


/* left side */

.outer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(240, 240, 240);
    height: 100vh;
}

.leftSide{
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    margin-left: 150px;
}

.fbName h1{
    font-family: 'Poppins';
    font-size: 50px;
    color: #1877f2;
}

.about p{
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
}

/* Right Side */

.rightSide {
    margin-top: 150px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.formdiv {
    width: 350px;
    background-color: #fff;
    padding: 10px 20px 40px 20px;
    border: 0px solid blue;
    border-radius: 5px;
    box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, .25);
}

.innerForm {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}

.innerForm input,
button,
a {
    margin-bottom: 10px;

}

.innerForm input {
    padding: 10px;
}

.formdiv .innerForm .loginBtn {
    /* padding: 10px 20px ; */
    background-color: #1877f2;
    /* Facebook blue color */
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
}

.forgotpass {
    margin-top: 15px;
    padding-left: 95px;
    text-decoration: none;
    color: #1877f2;
}

.line {
    border-top: 1px solid #d8d8d8;
    margin: 10px;
    /* background-color: 1px gray; */
}

.createNAcc {
    background-color: #4CBB17;
    /* Facebook blue color */
    color: #ffffff;
    /* White text color */
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
    padding: 10px;
    font-weight: bolder;
}

.rightSide .details p {
    margin-top: 30px;
    font-size: l30px;
    font-weight: normal;
}

.rightSide .details p a {
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}